
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.root {
    width: 100vw;
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(356deg, rgba(255,255,255,1) 0%, rgba(195,242,199,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-family: sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #0b6514;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

h3 {
    max-width: 800px;
    width: 100%;
    font-family: sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    line-height: 28px;
}
p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #777777;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 40px;
}

a {
    display: block;
    width: 300px;
    height: 52px;
    background: #458612;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 52px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

span {
    background: red;
    color: #FFF;
    width: 200px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    font-family: sans-serif;
    display: block;
    box-shadow: 4px 4px 2px #777777;
    margin-bottom: 20px;
}

@media screen and (max-width:760px) {
    h2 {
        font-size: 28px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    h3 {
        font-size: 16px;
        line-height: 20px;
        padding: 0 20px;
        box-sizing: border-box;
    }

}